<section class="container">
    <div class="row">
        
        @for(brand of brands() ; track $index){
        <div class="card col-4" style="">
            <img src="{{brand.image}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{brand.name}}</h5>
               
            </div>
        </div>
    }@empty {
        <div class="d-flex justify-content-center align-items-center text-success vh-100 ">
            <p>
                Loading ....
            </p>
        </div>
    }
    </div>

</section>