<div class="brands-page">
    <div class="page-header">
        <h1><i class="fa-solid fa-tags"></i> Our Brands</h1>
        <p>Top brands you know and love</p>
    </div>

    <section class="container brands-grid-section">
        <div class="row g-4">
            @for (brand of brands(); track $index) {
            <div class="col-6 col-md-4 col-lg-3 fade-in-up">
                <div class="brand-card">
                    <div class="brand-image-wrapper">
                        <img [src]="brand.image" [alt]="brand.name" class="brand-image" />
                    </div>
                    <h5 class="brand-name">{{ brand.name }}</h5>
                </div>
            </div>
            } @empty {
            <div class="loading-container">
                <div class="loading-spinner"></div>
                <span class="loading-text">Loading brands...</span>
            </div>
            }
        </div>
    </section>
</div>